/*Fuentes de letras*/
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c&family=Patua+One&display=swap");

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Parte superior navbar*/

/* Estilos para el navbar scrolleable */
.navbar {
  transition: top 0.3s;
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    top: 70px; /* Ajusta esto según la altura de tu topNavbar */
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
/*Parte del navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}

.navbar .nav-link {
  color: rgb(0, 108, 158);
}

.navbar .nav-link:hover {
  color: #333;
}

/*Parte del Header o carusel*/
#mainCarousel {
  height: 500px;
}

#mainCarousel .carousel-inner {
  height: 100%;
}

#mainCarousel .carousel-item {
  height: 100%;
}

#mainCarousel .carousel-item img {
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen y asegura que cubra todo el contenedor */
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0 10%;
}

.caption-content {
  max-width: 50%;
}

.carousel-caption h2 {
  font-family: "Patua One", serif;
  font-weight: bolder;
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.carousel-caption p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.btnCaruselSlider1 {
  font-family: "Patua One", serif;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  background-color: #63ad1a;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
}

.btnCaruselSlider1:hover {
  transition: 0.5s;
  background-color: rgb(85, 217, 29);
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin: 0 4px;
}

@media (max-width: 992px) {
  .carousel-caption {
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .caption-content {
    max-width: 80%;
  }

  .carousel-caption h2 {
    font-size: 2.5rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .carousel-item {
    height: 450px;
  }

  .caption-content {
    max-width: 100%;
  }

  .carousel-caption h2 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

/*Seccion Bienvenida*/
.SeccionBienvenida {
  margin-top: 50px;
  margin-bottom: 50px;
}

.TituloSeccionBienvenida {
  font-family: "Patua One", serif;
  font-weight: bolder;
  color: rgb(0, 63, 92);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.SubtituloSeccionBienvenida {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.SeccionBienvenida p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
}

.bienvenida {
  max-width: 500px;
}

.btnSeccionBienvenida {
  font-family: "Patua One", serif;
  background-color: rgb(0, 63, 92);
  padding: 7px 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

.btnSeccionBienvenida:hover {
  transition: 0.5s;
  background-color: rgb(0, 108, 158);
}

@media (max-width: 1200px) {
  .bienvenida {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .bienvenida {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .bienvenida {
    max-width: 500px;
  }
  .SeccionBienvenida h2 {
    font-size: 2.3rem;
    text-align: center;
  }
  .SeccionBienvenida h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .SeccionBienvenida p {
    margin-bottom: 0.8rem;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
  }
  .ContenedorBtn {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .bienvenida {
    max-width: 250px;
  }
  .SeccionBienvenida h2 {
    font-size: 2rem;
  }
  .SeccionBienvenida h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .SeccionBienvenida p {
    margin-bottom: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*Parte Seccion Valores*/
.SeccionValores {
  background-color: rgb(0, 63, 92);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.filaSeccionValores {
  margin-top: 30px;
}
.feature {
  padding: 20px;
}
.tituloSeccionValores {
  font-weight: bolder;
  font-family: "Patua One", serif;
  font-size: 2.5rem;
}
.subtituloSeccionValores {
  font-family: "Patua One", serif;
  font-size: 1.5rem;
}
.parrafoSeccionValores {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  padding-left: 15px;
  padding-right: 15px;
}

/*Parte Seccion Servicios*/
.SeccionServicios {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.tituloServicios {
  font-family: "Patua One", serif;
  color: rgb(0, 63, 92);
  font-size: 3rem;
  font-weight: bolder;
}
.imgServicio {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.subtituloSeccionServicios {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  color: rgb(0, 63, 92);
  font-size: 1.3rem;
}
.btnSeccionServicios {
  font-family: "Patua One", serif;
  background-color: rgb(0, 63, 92);
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  text-decoration: none; /* Remove underline from link */
  display: inline-block; /* Ensure it behaves like a button */
}
.btnSeccionServicios:hover {
  transition: 0.5s;
  background-color: rgb(0, 108, 158);
}

/*Parte de los testimonios*/
.SeccionTestimonios {
  background-color: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tituloTestimonios {
  color: #333;
  margin-bottom: 40px;
}

.testimonial {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  transition: transform 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid #f8f9fa;
}
.tituloTestimonios {
  font-family: "Patua One", serif;
  color: rgb(0, 63, 92);
  font-size: 2.5rem;
  font-weight: bolder;
}

.testimonial p {
  color: #666;
  font-style: italic;
}

.testimonial h5 {
  color: #333;
  margin-bottom: 5px;
}

.testimonial .text-muted {
  font-size: 0.9em;
}

/*Parte para la pagina dedicada sooo a servicios*/
.PaginaServiciosTotales {
  background-color: #f8f9fa;
}
.TitituloPaginaServicios {
  font-family: "Patua One", serif;
  color: rgb(0, 63, 92);
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.service-card {
  border: none;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  height: 200px;
  object-fit: cover;
}
.TituloCardServicios {
  margin-top: 20px;
  font-family: "Patua One", serif;
  color: rgb(0, 63, 92);
}

.service-card .card-body {
  padding: 0px; /* Ajusta el padding según sea necesario */
  text-align: left;
  display: flex;
  flex-direction: column;
}

.service-card .btn {
  margin-top: auto;
  margin-bottom: 30px;
  font-family: "Patua One", serif;
  background-color: rgb(0, 63, 92);
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  width: auto;
  max-width: 200px;
  margin-left: 0;
  margin-right: 0;
  align-self: flex-start;
}

.service-card .btn:hover {
  transition: 0.5s;
  background-color: rgb(0, 108, 158);
}

.ParrafoCardServicios {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  font-size: 0.9srem;
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .TitituloPaginaServicios {
    font-family: "Patua One", serif;
    color: rgb(0, 63, 92);
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 120px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .service-card .btn {
    margin-top: auto;
    margin-bottom: 30px;
    font-family: "Patua One", serif;
    background-color: rgb(0, 63, 92);
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    width: auto;
    max-width: 200px;
    margin-left: 0;
    margin-right: 0;
    align-self: flex-start;
  }
  .TituloCardServicios {
    margin-top: 20px;
    font-family: "Patua One", serif;
    color: rgb(0, 63, 92);
    font-size: 1.7rem;
  }
}

/*Formato para informacion de servicios*/
.seccionPrincipalServicios {
  margin-top: 100px;
}

.TituloSeccionPediatria {
  text-align: start;
}

.TituloSeccionPediatria h1 {
  font-size: 2.5rem;
  font-family: "Patua One", serif;
  font-weight: bold;
  color: rgb(0, 63, 92);
  margin-top: 50px;
  margin-bottom: 1rem;
}

.TituloSeccionPediatria p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}

.InformacionPediatria {
  padding: 3rem 0;
}

.ContenidoPediatria {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.ContenidoPediatria h2 {
  font-family: "Patua One", serif;
  font-weight: 600px;
  color: rgb(0, 63, 92);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.ContenidoPediatria p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.ContenidoPediatria ul {
  padding-left: 1.5rem;
}

.ContenidoPediatria li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.CarouselPediatria .carousel-inner {
  height: 400px;
  margin-bottom: 30px;
}

.CarouselPediatria .carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.CarouselPediatria .custom-control {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 123, 180);
  border-radius: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CarouselPediatria .custom-control .carousel-control-prev-icon,
.CarouselPediatria .custom-control .carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  .ContenidoPediatria {
    max-width: 700px;
  }
}

@media (max-width: 992px) {
  .ContenidoPediatria {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .TituloSeccionPediatria h1 {
    font-size: 2.3rem;
  }

  .ContenidoPediatria {
    max-width: 500px;
  }

  .ContenidoPediatria h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .ContenidoPediatria p,
  .ContenidoPediatria ul {
    text-align: center;
    padding-left: 0;
  }

  .ContenidoPediatria li {
    list-style-type: none;
  }
}

@media (max-width: 576px) {
  .TituloSeccionPediatria h1 {
    font-size: 2rem;
  }

  .ContenidoPediatria {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .ContenidoPediatria h2 {
    font-size: 1.5rem;
  }
}

/*Seccion anuncio agendar cita*/
.agendar-cita {
  background-color: rgb(0, 63, 92);
  color: white;
  padding: 2rem 0;
}

.agendar-cita h2 {
  font-family: "Patua One", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.agendar-cita p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btnAgendar {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Patua One", serif;
  background-color: white;
  color: rgb(0, 63, 92);
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btnAgendar:hover {
  background-color: rgb(0, 123, 180);
  color: white;
}

@media (max-width: 1200px) {
  .btnAgendar {
    font-size: 1.2rem;
  }
  .agendar-cita h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .agendar-cita p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .agendar-cita .col-md-6 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .btnAgendar {
    font-size: 1rem;
  }
  .agendar-cita h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .agendar-cita p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .btnAgendar {
    font-size: 1rem;
  }
  .agendar-cita h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .agendar-cita p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

/*Parte del footer*/
.site-footer {
  background-color: #333;
  color: #999;
  padding: 50px 0 20px;
  font-size: 14px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Patua One", serif;
}

.site-footer h3 {
  font-family: "Patua One", serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.ParrafoDescFooter {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}
.site-footer h2 {
  color: #fff;
}

.footer-services {
  list-style: none;
  padding: 0;
}

.footer-services li {
  margin-bottom: 10px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}

.footer-services a {
  color: rgb(0, 123, 180);
  text-decoration: none;
}

.site-footer i {
  color: rgb(0, 123, 180);
  margin-right: 10px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  background-color: #202020;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 1rem;
}
.social-icons {
  padding-bottom: 15px; /* Añade padding para separarlos del borde inferior */
}
.social-icons a {
  color: rgb(0, 123, 180);
  margin-left: 15px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #3498db;
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .social-icons a {
    margin-left: 10px;
    font-size: 14px;
  }
  .footer-bottom p {
    color: #fff;
    font-size: 0.8rem;
  }
}

/*Parte de contacto*/
.tituloContacto {
  font-family: "Patua One", serif;
  font-weight: bold;
  color: rgb(0, 63, 92);
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.InputsContacto {
  background-color: #f1f1f1;
  border-radius: 0;
  border: 0;
}

.InputsContacto::placeholder {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}
.InputsContacto:focus {
  background-color: #f1f1f1;
  outline: none;
  border-radius: 0;
  border: 0;
}

.EtiquetaContacto {
  font-family: "Patua One", serif;
  font-weight: 300px;
  color: rgb(0, 63, 92);
}
.btnContacto {
  font-family: "Patua One", serif;
  background-color: rgb(0, 63, 92);
  padding: 7px 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

.btnContacto:hover {
  transition: 0.5s;
  background-color: rgb(0, 108, 158);
}
